    <div class="jumbotron bg">
        <h1 class="display-3">Welcome to Dublin Pub Tours</h1>
        <p class="lead">The number one provider of walking pub tours of Dublin! Or as we like to call them, pub crawls!!!</p>
        <p><a class="btn btn-lg btn-success" href="users/sign_up" role="button">Sign up today</a></p>
      </div>
      
      <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Check out the Available Tours</h3>
      </div>
      <div class="panel-body panel-default">
        
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Tour Name</th>
              <th>Description</th>
              <th>Cost</th>
              <th>Stops</th>
              <th>Route</th>
              <th>Book Now</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Historical Pub Crawl</td>
              <td>
                  Take a stroll along the cobblestone streets of Dublin city 
                  and drop into some of the oldest and most historically 
                  significant drinking establishments Dublin has to offer.
              </td>
              <td>€30</td>
              <td>4</td>
              <td>View Map</td>
              <td><a href="/tour_bookings" class="btn btn-info">Book Tour</a></td>
            </tr>
            <tr>
              <td>Best of Dublin Nightlife</td>
              <td>
                  Ready to hit up the tiles. This walking tour will take you to
                  a range of premier Dublin late bars and nightclubs with free 
                  entry included
              </td>
              <td>€30</td>
              <td>3</td>
              <td>View Map</td>
              <td><a href="/tour_bookings" class="btn btn-info">Book Tour</a></td>
            </tr>
            <tr>
              <td>Dublin Whiskey Run</td>
              <td>
                  Ireland is famous for its Whiskey, or "uisce beatha" as the Irish
                  call it. This tour takes you to two of Irelands most famous
                  Whiskey distillaries here in the heart of Dublin. At each
                  distillary you will have the chance to learn how these world 
                  famous spirts are made and taste a few too.
              </td>
              <td>€30</td>
              <td>2</td>
              <td>View Map</td>
              <td><a href="/tour_bookings" class="btn btn-info">Book Tour</a></td>
            </tr>
          </tbody>
        </table> 
        
        
      </div>
    </div>